{% load static %}
<h1>Welcome, {{ user.username }}!</h1>
<h2>Your Tasks</h2>

{% if tasks %}
  <ul>
    {% for task in tasks %}
      <li>
        <strong>{{ task.title }}</strong> - Due: {{ task.due_date }}
        <form action="{% url 'delete_task' task.id %}" method="post" style="display:inline;">
          {% csrf_token %}
          <button type="submit">Delete</button>
        </form>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No tasks added yet.</p>
{% endif %}
<a href="{% url 'add_task' %}">➕ Add New Task</a>
<a href="{% url 'logged_out' %}">➕ To Log Out </a>